<!--begin::Main column-->
<div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">

    <!--begin:: card  -->
    <div class="card card-flush py-4">

        <!--begin::Card body-->
        <div class="card-body pt-0">

            <!-- ------------------- TABLA ----------------------------- -->

            <app-tabla-generica 
                (btnNuevo)="btnNUevoRegistro($event)"
                (btnEditar)="btnEditar($event)"
                (btnEliminar)="btnEliminar($event)"
                (btnCustom)="btnEditar($event)"
                (btnCustom1)="btnImprimir($event)"
                
                [data]="solicitudesTablaData" 
                [tablaColumns]="solicitudesTablaColumns" 
                [tablaOpciones]="solicitudesTablaOpiones"
            />
            <!-- ------------------- FIN TABLA ----------------------------- -->

        </div>
        <!--end::Card body-->

    </div>
    <!--end:: card  -->
  
</div>
<!--end::Main column-->



<!-- ----------  MODAL INFORME   --------------------------------- -->

  <!---------------  Para impedir que se cierre: -->
  <!-- data-bs-backdrop="static" data-bs-keyboard="false" --> 
  <!-- ------------------------------------------------------- -->
<div class="modal fade" id="kt_modal_edit" tabindex="-1" aria-hidden="true">

    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-900px">
  
      <!--begin::Modal content-->
      <div class="modal-content">
  
        <!-- ---- Titulo ------- -->
        <!--begin::Modal header-->
        <div class="modal-header" id="kt_modal_add_user_header">
  
          <!--begin::Modal title-->
          <h2 class="fw-bold">Datos para Informes </h2>
          <!--end::Modal title-->
  
          <!--begin::Close-->
           <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
          </div>
          <!--end::Close-->
  
        </div>
        <!--end::Modal header-->
  
        <!--begin::Modal body-->
        <div class="modal-body px-5 my-7">
  



<!--begin::Form-->
<form [formGroup]="informeForm"  >

    <!--begin::Order details-->
    <div class="card card-flush py-4">

        <!--begin::Card body-->
        <div class="card-body pt-0">
            <!--begin::Billing address-->
            <div class="d-flex flex-column gap-5 gap-md-7">
                <!--begin::Title-->
                <div class="fs-3 fw-bold mb-n2">Informe de Calificacion</div>
                <!--end::Title-->

                <!--begin::Input group-->
                <div class="d-flex flex-column flex-md-row gap-5">
                    <div class="fv-row flex-row-fluid">

                        <!--begin::Label-->
                        <label class="required form-label">Razon social</label>
                        <!--end::Label-->

                        <!--begin::Input-->
                        <input type="text" formControlName="razonsocial"  class="form-control" />
                        <control-messages [control]="getControl('razonsocial')"></control-messages>
                        <!--end::Input-->
                    </div>

                    <div class="flex-row-fluid">
                        <!--begin::Label-->
                        <label class="form-label">Representante legal</label>
                        <!--end::Label-->

                        <!--begin::Input-->
                        <input type="text" formControlName="representantelegal"  class="form-control" />
                        <control-messages [control]="getControl('representantelegal')"></control-messages>
                        <!--end::Input-->
                    </div>

                    <div style="width: 80px;" class="flex-row-fluid">
                        <!--begin::Label-->
                        <label class="form-label">Cedula</label>
                        <!--end::Label-->

                        <!--begin::Input-->
                        <input type="number" formControlName="cedula"  class="form-control" />
                        <control-messages [control]="getControl('cedula')"></control-messages>
                        <!--end::Input-->
                    </div>

                    <div style="width: 120px;" class="flex-row-fluid">
                        <!--begin::Label-->
                        <label class="form-label">Fecha entrega docs</label>
                        <!--end::Label-->

                        <!--begin::Input-->
                        <input type="date" formControlName="fechaentrega"  class="form-control" />
                        <control-messages [control]="getControl('fechaentrega')"></control-messages>
                        <!--end::Input-->
                    </div>
                </div>
                <!--end::Input group-->

                
                <!--begin::Input group-->
                <div class="d-flex flex-column flex-md-row gap-5">
                    
                    <!-- <div style="width: 380px;" class="flex-row-fluid">
                        <label class="form-label">Items objeto de del informe</label>

                        <input type="text" formControlName="items"  class="form-control" />
                        <control-messages [control]="getControl('items')"></control-messages>
                    </div> -->

                    <!--begin::Checkbox-->
                    <div class="form-check form-check-custom form-check-solid">
                        <input id="ofertatecnicaCheck"formControlName="ofertatecnica"  type="checkbox" class="form-check-input"  />
                        <label for="ofertatecnicaCheck" class="form-check-label" >
                            ADJUNTA PROPUESTA TECNICA
                        </label>
                    </div>
                    <!--end::Checkbox-->

                    <!--begin::Checkbox-->
                    <div class="form-check form-check-custom form-check-solid">
                        <input id="cumpleofertaadjCheck"formControlName="cumpleofertaadj"  type="checkbox" class="form-check-input"  />
                        <label for="cumpleofertaadjCheck" class="form-check-label" >
                            CUMPLE la OFERTA ADJUDICADA
                        </label>
                    </div>
                    <!--end::Checkbox-->

                    <!--begin::Checkbox-->
                    <div class="form-check form-check-custom form-check-solid">
                        <input id="cumpleOfertaAdjCheck"formControlName="cumpledocumentos"  type="checkbox" class="form-check-input"  />
                        <label for="cumpleOfertaAdjCheck" class="form-check-label" >
                            CUMPLE con los DOCUMENTOS
                        </label>
                    </div>
                    <!--end::Checkbox-->

                </div>
                <!--end::Input group-->

                <!--begin::Input group-->
                <div class="d-flex flex-column flex-md-row gap-5">

                    
                    <!--begin::Checkbox-->
                    <div class="form-check form-check-custom form-check-solid">
                        <input id="copianitCheck"formControlName="copianit"  type="checkbox" class="form-check-input"  />
                        <label for="copianitCheck" class="form-check-label" >
                            Cpia NIT
                        </label>
                    </div>
                    <!--end::Checkbox-->

                    <!--begin::Checkbox-->
                    <div class="form-check form-check-custom form-check-solid">
                        <input id="certificadonitCheck"formControlName="certificadonit"  type="checkbox" class="form-check-input"  />
                        <label for="certificadonitCheck" class="form-check-label" >
                            Cert. NIT
                        </label>
                    </div>
                    <!--end::Checkbox-->

                    <!--begin::Checkbox-->
                    <div class="form-check form-check-custom form-check-solid">
                        <input id="seprecCheck"formControlName="seprec"  type="checkbox" class="form-check-input"  />
                        <label for="seprecCheck" class="form-check-label" >
                            SEPREC
                        </label>
                    </div>
                    <!--end::Checkbox-->

                    <!--begin::Checkbox-->
                    <div class="form-check form-check-custom form-check-solid">
                        <input id="copiaciCheck"formControlName="copiaci"  type="checkbox" class="form-check-input"  />
                        <label for="copiaciCheck" class="form-check-label" >
                            Fotocopia CI
                        </label>
                    </div>
                    <!--end::Checkbox-->

                    <!--begin::Checkbox-->
                    <div class="form-check form-check-custom form-check-solid">
                        <input id="gestoraCheck"formControlName="gestora"  type="checkbox" class="form-check-input"  />
                        <label for="gestoraCheck" class="form-check-label" >
                            Gestora
                        </label>
                    </div>
                    <!--end::Checkbox-->

                    <!--begin::Checkbox-->
                    <div class="form-check form-check-custom form-check-solid">
                        <input id="sigepCheck"formControlName="sigep"  type="checkbox" class="form-check-input"  />
                        <label for="sigepCheck" class="form-check-label" >
                            SIGEP
                        </label>
                    </div>
                    <!--end::Checkbox-->

                    <!--begin::Checkbox-->
                    <div class="form-check form-check-custom form-check-solid">
                        <input id="formulario2bCheck"formControlName="formulario2b"  type="checkbox" class="form-check-input"  />
                        <label for="formulario2bCheck" class="form-check-label" >
                            Form. 2B
                        </label>
                    </div>
                    <!--end::Checkbox-->

                    <!--begin::Checkbox-->
                    <div class="form-check form-check-custom form-check-solid">
                        <input id="rupeCheck"formControlName="rupe"  type="checkbox" class="form-check-input"  />
                        <label for="rupeCheck" class="form-check-label" >
                            RUPE
                        </label>
                    </div>
                    <!--end::Checkbox-->

                </div>
                <!--end::Input group-->

                <!--begin::Input group-->
                <div class="d-flex flex-column flex-md-row gap-5">

                    










                    
                </div>
                <!--end::Input group-->

            </div>
            <!--end::Billing address-->

        </div>
        <!--end::Card body-->

        <!--begin::Buttons pane-->
        <div class="d-flex justify-content-end">

            <a  routerLink="/dashboard/procesos/lista"class="btn btn-light me-5">
                Cancelar
            </a>

            <button 
                type="button" 
                class="btn btn-primary" 
                (click)="guardarInformeVrificacion()"
                [disabled]="informeForm.invalid" 
                data-kt-stepper-action="submit">
                <span class="indicator-label">
                    Guardar
                </span>
            </button>

        </div>
        <!--end::Buttons pane-->

    </div>
    <!--end::Order details-->

</form>
<!--end::Form-->



            
        </div>
        <!--end::Modal body-->
      </div>
      <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - Add task-->
  
<!-- ----------  MODAL IMPRIMIR   --------------------------------- -->
<div class="modal fade" id="kt_modal_imprimir_proceso" >

  <!--begin::Modal dialog-->
  <div class="modal-dialog modal-dialog-centered mw-650px">

    <!--begin::Modal content-->
    <div class="modal-content">

      <!-- ---- Titulo ------- -->
      <!--begin::Modal header-->
      <div class="modal-header" id="kt_modal_add_user_header">

        <!--begin::Modal title-->
        <h2 class="fw-bold">Imprimir Proeso </h2>
        <!--end::Modal title-->

        <!--begin::Close-->
         <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
          <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <!--end::Close-->

      </div>
      <!--end::Modal header-->

      <!--begin::Modal body-->
      <div class="modal-body px-5 my-7">


        <!-- <app-proceso-imprimir [solicitud]="solicitudSelected" /> -->
        <app-proceso-imprimir [idproceso]="idsolicitudseleccionada" />

      </div>
      <!--end::Modal body-->
    </div>
    <!--end::Modal content-->
  </div>
  <!--end::Modal dialog-->
</div>
<!--end::Modal - Add task-->

