
<!-- ----------------- SISTEMA DESPLIEGUE ------------------ -->

<app-menu-etiqueta [etiqueta]="menuDeOpcionesUno.etiquetaDespliegue" />

<!-- <app-menu-segundo-nivel [segundonivel]="menuDeOpcionesUno.menuSegundoNivel" /> -->

<app-menu-primer-nivel [primernivel]="menuDeOpcionesUno.menuPrimerNivel" />



<!-- ----------------- OPCIONES GLOBALES ------------------ -->

<app-menu-etiqueta [etiqueta]="menuDeOpcionesDos.etiquetaSistema" />

<app-menu-simple [menusimple]="menuDeOpcionesDos.opcionSimple"/>







<!-- --------- EJEMPLO MENU COMPLETO --------- -->
<!-- 
  <app-menu-etiqueta [etiqueta]="menuPrincipal.etiqueta" />

  <app-menu-segundo-nivel [segundoNivel]="menuPrincipal.menuSegundoNivel" />

  <app-menu-primer-nivel [primerNivel]="menuPrincipal.menuPrimerNivel" />

  <app-menu-simple [menuSimple]="menuPrincipal.opcionSimple"/>
 -->



