
<!-- 
@if (estadosService.estadoPlanArray()) {
  <div>
    <h2>Planes</h2>
    <ul>
      @for (item of estadosService.estadoPlanArray(); track $index) {
        {{item.nombre}}
        <br>
      }
    </ul>
  </div>
} -->
<!-- 
<h1>
  Plan: {{ estadosService.estadoFuncionario()?.cargo?.unidadorganizacional?.unidad}}
</h1> -->

<div class="container">
    <div align="center">
        <img src="assets/img/ted.png" class="img-responsive center-block" alt="titulo" />
    </div>
</div>
  
