  /* Tabla - Resaltar fila de la tabla */
  tr.mat-mdc-row:hover {
    background-color:rgba(133, 134, 153, 0.1);
  }
  /* tabla cambia color de borde inferior de las filas */
  /* tr.mat-mdc-row {
  border-bottom: 1px solid #859999;
  } */

  /* Resaltar la fila al hacer clic */
.selected-row {
  background-color:rgba(133, 134, 153, 0.1);
  /* background-color: #e0f7fa !important; */
}

/* Resaltar la fila al pasar el mouse */
/*
.table-row:hover {
  background-color: #f1f1f1;
}
*/