<div class="d-flex ">
    <label class="form-label">Documentos de solicitud</label>
</div>

<div class="d-flex justify-content-center">
    <button (click)="printSolContrat()"  
        class="btn btn-primary btn-sm"  
        [disabled]="isGenerating"
        >
        Proceso de contratacion
    </button> 

    &nbsp; &nbsp;
    <button (click)="printSolContrat()"  
        class="btn btn-success btn-sm"  
        [disabled]="isGenerating"
        >
        Formulario Inexistenia
    </button> 
    <br>
    <div *ngIf="error" class="alert alert-danger mt-3">
        {{ error }}
    </div>
    &nbsp;

</div>

<br>

<div class="d-flex ">
    <label class="form-label">Documentos de seguimiento</label>
</div>
<div class="d-flex justify-content-center">
    <button (click)="printSolContrat()"  
        class="btn btn-primary btn-sm"  
        [disabled]="isGenerating"
        >
        Informe Verifiacion
    </button> 

    &nbsp; &nbsp;
    <button (click)="printSolContrat()"  
        class="btn btn-success btn-sm"  
        [disabled]="isGenerating"
        >
        Informe Recepion
    </button> 
    &nbsp; &nbsp;
    <button (click)="printSolContrat()"  
        class="btn btn-warning btn-sm"  
        [disabled]="isGenerating"
        >
        Informe Conformidad
    </button> 
    <br>
    <div *ngIf="error" class="alert alert-danger mt-3">
        {{ error }}
    </div>
    &nbsp;

</div>