
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                
                <label class="form-label">Documentos de solicitud</label>

                <div class="d-flex justify-content-center">
                    <button (click)="printSolContrat()"  
                        class="btn btn-primary btn-sm"  
                        [disabled]="isGenerating"
                        >Proceso de contratacion
                    </button> 
                    <br>
                    <div *ngIf="error" class="alert alert-danger mt-3">
                        {{ error }}
                    </div>
                </div>
                <br>
            </div>

            <div class="row">
                
                <label class="form-label">Documentos de seguimiento</label>

                <div class="d-flex justify-content-center">
                    <button (click)="muestraTablaInformesVerificacion()"  
                        class="btn btn-warning btn-sm"  
                        [disabled]="disableBtnInfVerif"
                        >
                        Informe Verifiacion
                    </button> 

                    &nbsp; &nbsp;
                    <button (click)="printInformeRecepcion()"  
                        class="btn btn-success btn-sm"  
                        [disabled]="disableBtnInfRecepcion"
                        >
                        Informe Recepion
                    </button> 
                    <!-- &nbsp; &nbsp;
                    <button (click)="printSolContrat()"  
                        class="btn btn-warning btn-sm"  
                        [disabled]="isGenerating"
                        >
                        Informe Conformidad
                    </button> 
                    <br> -->
                    <div *ngIf="error" class="alert alert-danger mt-3">
                        {{ error }}
                    </div>
                </div>
                <br>
            </div>

            <div *ngIf="muestraTblaInformesVerif" class="row">

                <app-tabla-generica 
                    (btnCustom)="printInformeVerificacion($event)"
                    
                    [data]="infVerifTablaData" 
                    [tablaColumns]="infVerifTablaColumns" 
                    [tablaOpciones]="infVerifTablaOpiones"
                />
            </div>
        </div>
    </div>

</div>