name: Docker Build and Push contrataciones-api

on:
  push:
    branches:
      - main
    paths:
      - 'contrataciones-api/**'  # Solo se activará si hay cambios en contrataciones-api
      - 'docker-deploy-contrataciones-api.yml'
  workflow_dispatch:             # Habilita la ejecucion manual del workflow en Github > Actions > nombre de workflow
jobs:
  build-and-push:
    runs-on: self-hosted  # Utilizamos el runner local

    steps:
      # 1. Checkout del código
      - name: Checkout code
        uses: actions/checkout@v2

      #- name: Add certificate for Docker Registry
      #  run: |
      #    mkdir -p /etc/docker/certs.d/10.51.15.42:5000
      #    echo "$DOCKER_REGISTRY_CERT" > /etc/docker/certs.d/10.51.15.42:5000/ca.crt
      #  env:
      #    DOCKER_REGISTRY_CERT: ${{ secrets.DOCKER_REGISTRY_CERT }}

      # 2. Iniciar sesión en Docker Registry privado
      - name: Log in to Docker Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: 10.51.15.42:5000

      # 3. Construir la imagen Docker
      - name: Build Docker image for contrataciones-api
        run: |
          docker build -t 10.51.15.42:5000/contrataciones-api:latest ./contrataciones-api


      # 4. Subir la imagen Docker al Registry privado
      - name: Push Docker image to Registry
        run: |
          docker push 10.51.15.42:5000/contrataciones-api:latest


